/* Remove any default padding from the root div */
#root {
  padding: 0 !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;



html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  background: linear-gradient(to bottom right, #fef3c7, #fff, #fde68a);
  width: 100vw;
  overflow-x: hidden;
}